* {
  box-sizing: border-box;
}
.body {
  border: none;
}
.page_container {
  background: linear-gradient(to bottom, #fbc7d4, #9796f0);
  height: 100vh;
  font-family: 'Roboto';
}
.appointment_header_container {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid red; */
  padding: 20px;
}
.UserTextCard {
  margin-left: 90px;
  align-self: center;
}
.UserTextCard_heading {
  font-size: 20px;
  color: #171f46;
  font-size: 28px;
}
.UserTextCard_Label_text {
  font-size: 12px;
  color: #46574a;
  font-weight: 600;
  margin-top: 10px;
}
.Add_btn {
  background-color: #373b3b;
  border-radius: 4px;
  width: 50px;
  border: 1px dashed blue;
  color: #1ac1c7;
}
.UserTextCard_tittle_input {
  border-radius: 5px;
  outline: none;
  border: none;
  height: 25px;
  font-size: 15px;
  padding-left: 6px;
  width: 130%;
  margin-bottom: 20px;
  padding: 10px;
}
.appointment_header_img {
  margin-right: 40px;
}
.hr_line {
  background-color: #4e1f69;
  height: 3px;
}
.startCard {
  display: flex;
  justify-content: space-between;
}
.startCard_heading {
  font-size: 18px;
}
.start_btn {
  align-self: center;
  background-color: transparent;
  border-radius: 12px;
  border: 1px solid whitesmoke;
  margin-right: 40px;
  font-size: 13px;
  font-weight: 700;
  height: 30px;
  width: 70px;
}
.NewAppointments_bundle {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  overflow: auto;
  height: 110px;
  align-items: center;
}
